keras_resnet==0.2.0
numpy==1.23.5
opencv_python_headless==4.10.0.84
pyclipper==1.3.0.post6
Shapely==2.0.6
streamlit
# streamlit_drawable_canvas==0.9.3
# streamlit-javascript==0.1.5
tensorflow[and-cuda]==2.14.0
# tensorflow[and-cuda]==2.15.1
python-multipart
fastapi 
uvicorn
ray[serve]
gdown
# nvidia-cudnn-cu11==8.9.4.25

--find-links https://download.pytorch.org/whl/cu118
torch==2.1.1
torchvision 
torchaudio

ultralytics
